/node_modules
/frontend/node_modules
/frontend/dist
/frontend/src/config_.json
/frontend/src/custom.css
/backend/node_modules
/backend/config.json
/tmp
.cache
.env
.vscode
dev
Dockerfile-dev
docker-compose-dev.yml
package-dev.json
config_be.json
config_fe.json

